<!DOCTYPE html>
<html>
  <head>
    <title>Editar Funcionário</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>FullTime</h1><br><br>
    <div class="container">
      <h3><a href="/employees">Lista Funcionários</a></h3>
      <h1>Edita Funcionário</h1>
      <form action="/employees/update/<%= employee._id%>" method="post">
        <table>
          <tbody>
            <tr>
              <td>Nome</td>
              <td><input type="text" name="name" value="<%= employee.name %>" /></td>
            </tr>
            <tr>
              <td>Endereço</td>
              <td><textarea name="address"><%= employee.address %></textarea></td>
            </tr>
            <tr>
              <td>Cargo</td>
              <td><input type="text" name="position" value="<%= employee.position %>" /></td>
            </tr>
            <tr>
              <td>Salario</td>
              <td><input type="number" name="salary" value="<%= employee.salary.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'}) %>" /></td>
              <!-- .toLocaleString("pt-br", {style: "currency", currency: "BRL"}) -->
            </tr>
            <tr>
              <td colspan="2"><button type="submit">Salvar</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </body>
</html>
