<!DOCTYPE html>
<html>
  <head>
    <title>Editar Produto</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>FullTime</h1><br><br>
    <div class="container">
      <h3><a href="/products">Lista Produtos</a></h3>
      <h1>Edita Funcionário</h1>
      <form action="/products/update/<%= product._id%>" method="post">
        <table>
          <tbody>
            <tr>
              <td>Nome</td>
              <td><input type="text" name="name" value="<%= product.name %>" /></td>
            </tr>
            <tr>
              <td>Descrição</td>
              <td><input type="text" name="productid" value="<%= product.productid %>" /></td>
            </tr>
            <tr>
              <td>Preço</td>
              <td><input type="text" name="price" value="<%= product.price %>" /></td>
              <!-- <td id="preco"><%= product.price.toLocaleString("pt-br", {style: "currency", currency: "BRL"}) %></td> -->

            </tr>
            <tr>
            <tr>
              <td colspan="2"><button type="submit">Salvar</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </body>
</html>
